@{
    ViewBag.Title = "All Types of Animals";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

    <a class="btn btn-success col-lg-12 mb-4" asp-controller="Product" asp-action="CatProducts">Products For Cats</a>
    <a class="btn btn-info col-lg-12 mb-4" asp-controller="Product" asp-action="DogProducts">Products For Dogs</a>
    <a class="btn btn-warning col-lg-12 mb-4" asp-controller="Product" asp-action="BirdProducts">Products For Birds</a>
    <a class="btn btn-danger col-lg-12 mb-4" asp-controller="Product" asp-action="FishProducts">Products For Fishes</a>
    <a class="btn btn-primary col-lg-12" asp-controller="Product" asp-action="RodentProducts">Products For Rodents</a>
