@model List<ProductAllViewModel>
@{
    ViewData["Title"] = "All Products For Fishes";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h2 class="text-center">We do not have any products for fishes right now!</h2>
}
else
{
    <div class="row">
        @foreach (ProductAllViewModel product in Model)
        {
            <partial name="_ProductPartialType" model="product" />
        }
    </div>
}